h1, h2, h3, h4, h5, h6
	{ font-family: arial, sans-serif; font-size: 4em; letter-spacing: -.12em; text-transform: uppercase; font-weight: bold; text-align: center; }
h1, h2, h4, h6
	{ position: relative; color: #000; z-index: 10; }
h3, h5
	{ color: #F88228; margin-top: -0.3em; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span
	{ text-transform: lowercase; }
#main #presentation .slide { background-color: #fff; }
.slide a:link, .slide a:visited
	{ color: #F88228; }
.slide a:hover, .slide a:active
	{ text-decoration: none; border-bottom: 1px solid #F88228; }
	
.layout_bullets { border-top: 10px solid #F88228; }

#slide_title { background: url("images/slide_title.png") no-repeat right bottom; }
#slide_model { background: url("images/slide_model.png") no-repeat right bottom; }
#slide_languages { background: url("images/slide_languages.png") no-repeat right bottom; }
#slide_industry { background: url("images/slide_industry.png") no-repeat right bottom; }
#slide_frameworks { background: url("images/slide_frameworks.png") no-repeat right bottom; }
#slide_tools { background: url("images/slide_tools.png") no-repeat right bottom; }
#slide_steal { background: url("images/slide_steal.png") no-repeat right bottom; }
#slide_local { background: url("images/slide_local.png") no-repeat right bottom; }
#slide_questions { background: url("images/slide_questions.png") no-repeat center 36%; }